#page-pricing {
    .cards-container {
        row-gap: 40px;
        .card-item {
            padding: 0 1.5rem 0 1.5rem;
            position: relative;
            max-width: 374px;
            min-width: 300px;
            width: 30%;
            display: inline-block;
            box-sizing: border-box;
            color: $color-white;

            .pricing-value {
                .value {
                    line-height: 1em;
                }
            }
            .btn {
                width: auto;
                display: block;
                color: $color-white;
            }
        }
    }
}
