#page-footer {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-dark;
    .info-footer {
        border-bottom: 2px solid $color-grey;

        .footer-item {
            width: 270px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            .link {
                text-transform: none;
            }
        }
    }
    .additional-info {
        gap: 16px;
        .additional-info-item {
            text-transform: none;
        }
    }

}