#page-popular-track {
    .track-main-container {
        column-gap: 50px;
        row-gap: 25px;
        .track-container {
            display: flex;
            flex-direction: column;
            gap: 25px;
            flex-grow: 1;
            .track-item {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 20px;
                flex-grow: 1;
                cursor: pointer;
                .track-description {
                    align-self: center;
                    flex-grow: 10;
                }
                .image-play-container {
                    .img-play {
                        img {
                            width: 24px;
                            height: 24px;
                        }
                      
                    }
                }
            }
            .track-item:hover,
            .track-item:focus,
            .track-item:active {
                top: -10px;
                left: -10px;
                box-shadow: 10px 10px 30px 1px $color-blue;
            }
            .track-item:hover .img-play,
            .track-item:focus .img-play,
            .track-item:active .img-play {
                z-index: 10;
            }
        }
    }

}