#page-app {
    .mobile-description {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .description {
            min-width: 333px;
            width: 50%;
            text-align: start;

            .btn {
                padding: 16px 40px 16px 40px;
                display: inline-block;
                border-radius: 32px;
                text-transform: none;
            }
        }

    }

    .img-phones {
        width: 333px;
    }
}