#page-footer {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-dark;
    .info-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 2px solid $color-grey;

        .footer-item {
            width: 270px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            .link {
                text-transform: none;
            }
            .social-link {
                text-decoration: none;
            }
        }
    }
    .additional-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .additional-info-item {
            margin-right: 16px;
            text-transform: none;
            font-size: 16px;
        }
    }

}