.color-white {
  color: #FFFFFF;
}

.fs-7 {
  font-size: 64px;
  line-height: 96px;
}

.fs-6 {
  font-size: 56px;
  line-height: 84px;
}

.fs-5 {
  font-size: 48px;
  line-height: 72px;
}

.fs-4 {
  font-size: 40px;
  line-height: 60px;
}

.fs-3 {
  font-size: 32px;
  line-height: 48px;
}

.fs-2 {
  font-size: 23px;
  line-height: 36px;
}

.fs-1 {
  font-size: 16px;
  line-height: 24px;
}

.fs-small {
  font-size: 12.8px;
  line-height: 19.2px;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.my-200 {
  margin-top: 200px;
  margin-bottom: 200px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.ms-16 {
  margin-left: 16px;
}

.ml-36 {
  margin-left: 36px;
}

.py-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-25 {
  padding-top: 25px;
}

.pb-48 {
  padding-bottom: 48px;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.ps-20 {
  padding-left: 20px;
}

.max-width-570 {
  max-width: 570px;
}

.pb-62 {
  padding-bottom: 62px;
}

.pb-72 {
  padding-bottom: 72px;
}

.ml-1-5rem {
  margin-left: 1.5rem;
}

.mb-1-5rem {
  margin-bottom: 1.5rem;
}

.mt-200 {
  margin-top: 200px;
}

.mt-31 {
  margin-top: 31px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-stretch {
  align-items: stretch;
}

.align-self-center {
  align-self: center;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/banner.png");
  background-size: cover;
  background-position: center;
}

.artist {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/Morten Harket.png");
  background-size: cover;
  background-position: center;
}

.free-subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/subscribe_1.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.standart-subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/subscribe_2.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.premium-subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/subscribe_3.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

#page-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  background-size: cover;
  background-position: center;
}

.bg-orange {
  background-color: #F89202;
}

.bg-purple {
  background-color: #5328A1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 250px));
  grid-template-rows: auto;
  row-gap: 25px;
  column-gap: 50px;
}
.grid-container .grid-item .grid-img {
  width: 100%;
}

.w-100perc {
  width: 100%;
}

.max-w-90perc {
  max-width: 90%;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.vertical-top {
  vertical-align: top;
}

.border {
  border: 1px solid #FFFFFF;
}

.display-none {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  padding: 20px 30px 20px 30px;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: #34C176;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #246643;
}

.btn-orange {
  background-color: #F89202;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
  background-color: #95390C;
}

.btn-purple {
  background-color: #5328A1;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  background-color: #402e63;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
  cursor: pointer;
}

.box-shadow-success:focus,
.box-shadow-success:active {
  box-shadow: 0px 0px 5px 10px #34C176;
}

.box-shadow-primary:focus,
.box-shadow-primary:hover {
  box-shadow: 0px 0px 5px 10px #194cf7;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}
body {
  margin: 0;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

#navbar {
  position: absolute;
  top: 25px;
  left: 120px;
  right: 120px;
}
#navbar .nav-links .link {
  font-size: 11px;
  line-height: 16px;
}
#navbar .nav-links .logo-container {
  position: relative;
  white-space: nowrap;
}
#navbar .nav-links .logo-container::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: -36px;
  background: url(../images/logo.svg);
  background-size: cover;
}
#navbar .search-form #search-nav-field {
  width: 248px;
  box-sizing: border-box;
  border: none;
  border-radius: 50px;
  background-color: #3C3B3D;
}

#page-description .form-description {
  max-width: 570px;
  gap: 1.5rem;
}
#page-description .form-description .login-field {
  display: inline;
  padding-left: 20px;
  min-width: 270px;
  min-height: 50px;
  box-sizing: border-box;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
  color: #FFFFFF;
}
#page-description .form-description .login-field::placeholder {
  color: #FFFFFF;
}
#page-description .form-description .btn-logo {
  width: 200px;
  border: none;
  text-align: start;
}
#page-description .form-description .btn-logo .logo {
  padding-left: 36px;
  position: relative;
}
#page-description .form-description .btn-logo .logo-play::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  background: url("../images/play-button.svg");
  background-size: cover;
  filter: invert(1);
}
#page-description .form-description .btn-logo .logo-heart::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  background: url("../images/heart.svg");
  background-size: cover;
  filter: invert(1);
}

#page-pricing .cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}
#page-pricing .cards-container .card-item {
  padding: 0 1.5rem 0 1.5rem;
  position: relative;
  max-width: 374px;
  min-width: 300px;
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  color: #FFFFFF;
}
#page-pricing .cards-container .card-item .pricing-value .value {
  line-height: 1em;
}
#page-pricing .cards-container .card-item .btn {
  display: block;
  width: auto;
}

#page-news .news-container {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}
#page-news .news-container .news-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
#page-news .news-container .news-item .img-news {
  height: auto;
  width: 100%;
  max-width: 575px;
}
#page-news .news-container .news-item .news-value {
  max-width: 575px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
#page-news .news-container .news-item .news-value .h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: normal;
}
#page-news .news-container .news-item .news-value .news-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#page-news .news-container .news-item .news-value .news-footer .news-author .author-name {
  color: #F89202;
}
#page-news .news-container .news-item .news-value .news-footer .news-author .publication-date {
  vertical-align: top;
}
#page-news .news-container .news-item .news-value .news-footer .news-author::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../images/avatar.png);
  background-size: cover;
}
#page-news .news-container .news-item .news-value .news-footer .btn {
  margin: 0;
  align-self: flex-start;
  padding-top: 16px;
  padding-bottom: 16px;
}
#page-news .news-container .second-news {
  flex-direction: row-reverse;
}

#page-app .mobile-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#page-app .mobile-description .description {
  min-width: 333px;
  width: 50%;
  text-align: start;
}
#page-app .mobile-description .description .btn {
  padding: 16px 40px 16px 40px;
  display: inline-block;
  border-radius: 32px;
  text-transform: none;
}
#page-app .img-phones {
  width: 333px;
}

#page-footer {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #3C3B3D;
}
#page-footer .info-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid #cacaca;
}
#page-footer .info-footer .footer-item {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#page-footer .info-footer .footer-item .link {
  text-transform: none;
}
#page-footer .info-footer .footer-item .social-link {
  text-decoration: none;
}
#page-footer .additional-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#page-footer .additional-info .additional-info-item {
  font-size: 16px;
  margin-right: 16px;
}

#page-popular-track .track-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
}
#page-popular-track .track-main-container .track-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-grow: 1;
}
#page-popular-track .track-main-container .track-container .track-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  flex-grow: 1;
}
#page-popular-track .track-main-container .track-container .track-item .track-description {
  align-self: center;
  flex-grow: 10;
}

@media screen and (max-width: 2000px) {
  #face {
    position: relative;
    border-bottom: 1px solid #3C3B3D;
    border-top: 1px solid #3C3B3D;
  }
  .h1 {
    font-size: 60px;
    line-height: 90px;
  }
  .h2 {
    font-size: 38px;
    line-height: 57px;
  }
  .h3 {
    font-size: 24px;
    line-height: 45px;
  }
  .h4 {
    font-size: 18px;
    line-height: 27px;
  }
  .h1,
.h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 1000px) {
  #face #navbar {
    left: 20px;
    right: 20px;
    flex-direction: column;
  }
  #face #navbar .nav-links {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0 18px 0;
  }
  #face #navbar .nav-links .logo-container {
    padding: 0 0 18px 0;
  }
  #face #navbar .search-form {
    flex-grow: 1;
  }
  #face #navbar .search-form .search-field {
    width: 100%;
  }
  #face #page-description {
    margin-top: 250px;
  }
  #page-pricing .cards-container {
    justify-content: center;
    column-gap: 40px;
  }
  #page-pricing .cards-container .card-item {
    min-width: 45%;
  }
  #page-app .mobile-description {
    flex-direction: column-reverse;
    align-items: center;
  }
  #page-app .mobile-description .description {
    width: 100%;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, 135px);
  }
  #face,
#page-pricing,
#page-news,
#page-popular-track,
#page-app,
#page-discography,
#page-similar,
.info-footer,
.additional-info {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 610px) {
  .h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .h2 {
    font-size: 18px;
    line-height: 37px;
  }
  .h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .h4 {
    font-size: 18px;
    line-height: 24px;
  }
  #face #page-description .btn {
    max-width: 270px;
  }
  #page-pricing .cards-container .card-item {
    min-width: 65%;
  }
  #page-footer .info-footer,
#page-footer .additional-info {
    flex-direction: column;
  }
  #page-pricing,
#page-news,
#page-app,
#page-footer,
#page-popular-track,
#page-discography {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
