$color-dark: #3C3B3D;
$color-white: #FFFFFF;
$color-grey: #cacaca;
$color-success: #34C176;
$color-success-hover: #246643;
$color-blue: #194cf7;
$color-orange: #F89202;
$color-orange-hover: #95390C;
$body-background-color: #08020d;

.color-white {
    color: $color-white;
}