.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 250px));
    grid-template-rows: auto;
    row-gap: 25px;
    column-gap: 50px;
    .grid-item {
        .grid-img {
            width: 100%;
        }
    }
} 

.w-100perc {
    width: 100%;
}
.max-w-90perc {
    max-width: 90%;
}

.text-center {
    text-align: center;
}
.text-start {
    text-align: left;
}
.vertical-top {
    vertical-align: top;
}

.border {
    border: 1px solid $color-white;
}

.display-none {
    display: none;
}

.uppercase {
    text-transform: uppercase
}

.btn {
    padding: 20px 30px 20px 30px;
    color: $color-white;
    
    border-radius: 5px;
    cursor: pointer;
}

.btn-success {
    background-color: $color-success;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-color: $color-success-hover;
}

.btn-orange {
    background-color: $color-orange;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
    background-color: $color-orange-hover;
}

.btn-purple {
    background-color: $color-purple;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
    background-color: $color-purple-hover;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-grey;
    cursor: pointer;
}

.box-shadow-success:focus,
.box-shadow-success:active {
    box-shadow: 0px 0px 5px 10px $color-success;
}

.box-shadow-primary:focus,
.box-shadow-primary:hover {
    box-shadow: 0px 0px 5px 10px $color-blue;
}


.container {
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
}
