@import "general", "colors.scss";
@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

$breakpoints: (
    large: 2000px,
    medium: 900px,
    small: 610px,
);

$body-font-family: "Roboto";
$body-font-size: 18px;
$body-line-height: 1.5;

$desc-h1-fs: 60px;
$desc-h1-line-height: 90px;
$desc-h2-fs: 38px;
$desc-h2-line-height: 57px;
$desc-h3-fs: 24px;
$desc-h3-line-height: 45px;
$desc-h4-fs: 18px;
$desc-h4-line-height: 27px;

$headline-weight: bold;
$headline-text-transform: uppercase;

@mixin valuesBody {
    margin: 0;
    font-family: $body-font-family;
    font-size: $body-font-size;
    line-height: $body-line-height;
    color: $color-grey;
    background-color: $body-background-color;
}

@mixin valuesOfheadlines($typeOfDevice, $headline: h1) {
    @if ($typeOfDevice == desc and $headline == h1) {
        font-size: $desc-h1-fs;
        line-height: $desc-h1-line-height;
    }

    @if ($typeOfDevice == desc and $headline == h2) {
        font-size: $desc-h2-fs;
        line-height: $desc-h2-line-height;
    }
    @if ($typeOfDevice == desc and $headline == h3) {
        font-size: $desc-h3-fs;
        line-height: $desc-h3-line-height;
    }
    @if ($typeOfDevice == desc and $headline == h4) {
        font-size: $desc-h4-fs;
        line-height: $desc-h4-line-height;
    }

    @if ($typeOfDevice == mobile and $headline == h1) {
        font-size: $desc-h1-fs/2;
        line-height: $desc-h1-line-height/2;
    }

    @if ($typeOfDevice == mobile and $headline == h2) {
        font-size: $desc-h2-fs - 20;
        line-height: $desc-h2-line-height - 20;
    }
    @if ($typeOfDevice == mobile and $headline == h3) {
        font-size: $desc-h3-fs - 8;
        line-height: $desc-h3-line-height - 21;
    }

    @if ($typeOfDevice == mobile and $headline == h4) {
        font-size: $desc-h4-fs;
        line-height: $desc-h4-line-height - 3;
    }
}

@mixin media($type) {
    @media screen and (max-width: map-get($breakpoints, "#{$type}")) {
        @content;
    }
}

@mixin background($color: "", $url: "") {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @if ($color  !="") {
        background: $color;
    }

    @if ($url  !="") {
        background: url($url);
    }

    background-size: cover;
    background-position: center;
}


body {
    @include valuesBody;
}

#face {
    position: relative;
    border-bottom: 1px solid $color-dark;

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: $color-white;
        .nav-links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .logo-container {
                position: relative;
                white-space: nowrap;
            }

            .logo-container::before {
                content: '';
                width: 24px;
                height: 24px;
                position: absolute;
                left: -36px;
                background: url(../images/logo.svg);
                background-size: cover;
            }
        }

        .search-form {
            .search-field {
                width: 100%;
                box-sizing: border-box;
                border: none;
                border-radius: 50px;
                background-color: $color-dark;
                color: $color-white;
            }
        }

    }

    #page-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .login-form {
            max-width: 570px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;

            .login-field {
                display: inline;
                padding-left: 20px;
                min-width: 270px;
                min-height: 50px;
                box-sizing: border-box;
                border: 2px solid $color-grey;
                border-radius: 3px;
                background: none;
                color: $color-white;
            }

            .login-field::placeholder {
                color: $color-white;
            }
            .btn {
                width: 100%;
            }
        }
    }
}



#page-pricing {
    .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 50px;

        .card-item {
            padding: 0 1.5rem 0 1.5rem;
            position: relative;
            min-width: 300px;
            width: 30%;
            display: inline-block;
            box-sizing: border-box;
            color: $color-white;

            .pricing-value {
                
                .value {
                    line-height: 1em;
                }
            }
            .btn {
                display: block;
                width: auto;
            }
        }
    }
}

#page-news {
    .news-container {
        display: flex;
        flex-direction: column;

        .news-item {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 50px;

            .img-news {
                height: auto;
                width: 100%;
                max-width: 575px;

            }

            .news-value {
                max-width: 575px;
                min-width: 300px;
                display: flex;
                flex-direction: column;
                text-align: start;

                .news-footer {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .news-author {

                        .author-name {
                            color: $color-orange;

                        }

                        .publication-date {
                            vertical-align: top;
                        }
                    }

                    .news-author::before {
                        content: '';
                        display: inline-block;
                        width: 19px;
                        height: 19px;
                        background: url(../images/avatar.png);
                        background-size: cover;
                    }

                    .btn {
                        margin: 0;
                        align-self: flex-start;
                        padding-top: 16px;
                        padding-bottom: 16px;

                    }
                }
            }

        }
        .second-news {
            flex-direction: row-reverse;
        }
    }
}

#page-app {
    .mobile-description {
        margin-top: 64px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .description {
            min-width: 333px;
            width: 50%;
            text-align: start;

            .btn {
                display: inline-block;
                padding: 16px 40px 16px 40px;
                border-radius: 32px;
            }
        }

    }

    .img-phones {
        width: 333px;
    }
}

#page-footer {
    position: relative;
    padding: 3rem 0 2rem 0;
    border-bottom: 1px solid $color-dark;
    .info-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        border-bottom: 2px solid $color-grey;

        .footer-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .link {
                text-transform: none;
            }
        }
    }
    .additional-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .additional-info-item {
            margin-right: 16px;
        }
    }

}

#face::before {
    @include background("", "../images/banner.png");
}

.free-subscribe::before {
    @include background("", "../images/subscribe_1.png");
    border-radius: 1rem;
}

.standart-subscribe::before {
    @include background("", "../images/subscribe_2.png");
    border-radius: 1rem;
}

.premium-subscribe::before {
    @include background("", "../images/subscribe_3.png");
    border-radius: 1rem;
}

#page-footer::before {
    @include background(linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%), "");
}

@include media(large) {
    .h1 {
        @include valuesOfheadlines(desc);
    }
    .h2 {
        @include valuesOfheadlines(desc, h2);
    }
    .h3 {
        @include valuesOfheadlines(desc, h3);
    }

    .h4 {
        @include valuesOfheadlines(desc, h4);
    }
    .h1,
    .h2 {
        font-weight: $headline-weight;
        text-transform: $headline-text-transform;
        color: $color-white;
    }
}

@include media(medium) {
    #face {
        padding: 0 20px 0 20px;
        .nav {
            flex-direction: column;
            .nav-links {
                flex-direction: column;
                padding: 0 0 18px 0;
                .logo-container {
                    padding: 0 0 17px 0;
                }
            }
        }
    }
    #page-pricing {
        .cards-container {
            .card-item{
                min-width: 45%;
            }
        }
    }


    #page-app {
        .mobile-description {
            flex-direction: column-reverse;
            align-items: center;

            .description {
                width: 100%;
            }
        }
    }
}

@include media(small) {
    .h1 {
        @include valuesOfheadlines(mobile);
    }

    .h2 {
        @include valuesOfheadlines(mobile, h2);
    }
    .h3 {
        @include valuesOfheadlines(mobile, h3);
    }

    .h4 {
        @include valuesOfheadlines(mobile, h4);
    }

    #face {
        #page-description {
            .btn {
                max-width: 270px;
            }
        }
    }
    #page-pricing {
        .cards-container {
            .card-item{
                min-width: 80%;
            }
        }
    }
    #page-footer {
        .additional-info {
            flex-direction: column;
        }
    }
    #page-pricing,
    #page-news,
    #page-app,
    #page-footer {
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}